<section class="user-info">
    <h2 class="fs_36 fw_800 text-center">Please Send Your Enquiry</h2>
    <!-- <p class="fs_18 fw_500 text-center">We're just a <b class="fw_700"> message away!</b> </p> -->
    <!-- <p class="fs_18 fw_500 text-center">Reach out today for expert guidance and personalized solutions.</p> -->
    <form action="">
        <div class="form-group">
            <input type="text" placeholder="Full Name*">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Phone Number*">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Mail Id*">
        </div>
        <div class="form-group">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        </div>

        <button class="fs_16 fw_700 text-center form-btn">
            Submit
        </button>
    </form>
</section>
