.form-group {
    input,
    textarea {
      border-radius: 2px;
      border: 0.5px solid #8e8e8e;
      background: #fff;
      width: 100%;
      min-height: 50px;
      outline: none;
      margin-top: 24px;
      padding: 15px;
      max-height: 117px;
      @media (max-width:767px) {
        margin-top: 15px;
        min-height: 40px;
      }
    }
   
  }
  .form-btn {
    border: 0;
    border-radius: 2px;
    background: var(--primary-clr);
  height: 50px;
  /* color: #fff; */
  margin-top: 32px;
  cursor: pointer;
  @media (max-width:767px) {
    margin-top: 15px;
    height: 40px;
  }
  }