<div class="welcome-section">
    <h1>Profile</h1>
    <p>
      	In 1960, My Grand Father founded our Family Business for Textiles Hand Loom Weaving. In 1980, My Father joined the Company and have remained Loyal to our philosophy. "Make the Best Produce Possible Never compromise quality and maintain the affordable prices" Over the years we have maintained this and entered to start the Knits Fabric Creator in 1995. Gradually evolving into a Garment Manufacturer & Solution in 2000.
    </p>
    <p>
        We would like to introduce our self MADHWA APPARELS as one of the leading Exporters located in Tirupur City, India. MADHWA APPARELS is run by a young dynamic team with highest spirits & code of conduct who have wide knowledge. We are mainly doing highly fashioned articles and specialized in introducing new styles according to the market trend. Our main goal is 100% customer satisfaction by providing best quality garments at competitive price.
    </p>
    <p>
        With years of experience in manufacturing high quality fabrics and garments, we are pioneers in the field of manufacturing and exporting knited apparels. We are known for our trendy and designer collections that are of highest quality standards. Our designer apparels belong to well known brands and are in line with latest national and international fashion trends.
    </p>
    <p>
        We possess a fleet of highly dedicated and adept professionals who have a constant urge to provide garments of latest designs and trends. Our team of expert quality analyzers inspect every apparel during the procurement process to ensure zero defect products. We are always at our feet to provide the products on time thus ensuring reliable supply and prompt delivery.
    </p>
    <p>
        Quality being our focus, is followed unconditionally. Our quality checks begin from the first stage of raw material procurement by our quality inspectors who ensure compliance to defined parameters. Raw material from trusted vendors, help us assure quality of the products delivered. Stringent quality assessment on various parameters like quality of the fabric, tear strength, stitch, colour fastnesses, shrinkage possibilities etc., are carried out by us. The functionality and efficiency checks of the machines, installed in our production unit, are also conducted on timely basis. Creating new standards of quality in manufacturing knit wears is the hallmark of steady growth in the industry.
    </p>
    <p>
        MADHWA APPARELS is a Sister Concern of Clasp Trend - www.clasptrend.com
    </p>
    <!-- <b>	Why Us ?</b>
    <p>
        With the state-of-the-art infrastructure having advanced machines for stitching and for garment finishing., we are capable to developing large assortment of garments.
    </p>
        <ul>
            <li>
                Our unit is strengthened with the continued support of adept personnel.
            </li>
            <li>
                We ensure to adhere to the delivery schedule.
            </li>
            <li>
                We procure raw materials of the highest quality from the certified suppliers.
            </li>
            <li>
                We follow stringent quality checks at every level of operation.
            </li>
        </ul> -->
  </div>
