<div class="welcome-section">
    <h1>Welcome to our website!</h1>
    <p>
      In 1960, My Grand Father founded our Family Business for Textiles Hand Loom Weaving. In 1980, my father joined the Company and have remained Loyal to our philosophy: "Make the Best Produce Possible Never compromise quality and maintain the affordable prices". Over the years, we have maintained this and entered to start the Knits Fabric Creator in 1995. Gradually evolving into a Garment Manufacturer & Solution in 2000. We would like to introduce ourself REDPINE APPARELS as one of the leading Exporters located in Tirupur City, India. REDPINE APPARELS is run by a young dynamic team with highest spirits & code of conduct who have wide knowledge. We are mainly doing highly fashioned articles and specialized in introducing new styles according to the market trend. Our main goal is 100% customer satisfaction by providing best quality garments at competitive price.
    </p>
  </div>
  <div class="product-section">
    <h2>Our Products</h2>
    <div class="row">
      <div routerLink="/mens-wear" class="col-md-4 text-center">
        <img src="assets/mens-wear.png" class="img-fluid" alt="Mens Wear">
        <h3 class="our-products" >Mens Wear</h3>
      </div>
      <div routerLink="/mens-wear" class="col-md-4 text-center">
        <img src="assets/ladies-wear.png" class="img-fluid" alt="Ladies Wear">
        <h3 class="our-products" >Ladies Wear</h3>
      </div>
      <div routerLink="/mens-wear" class="col-md-4 text-center">
        <img src="assets/childrens-wear.png" class="img-fluid" alt="Childrens Wear">
        <h3 class="our-products" >Childrens Wear</h3>
      </div>
    </div>
  </div>
  